<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">{{course.courseDescription}}</h1>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="card p-5">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="courseCode">Course Code</label>
                                <input class="form-control" id="courseCode" name="courseCode" type="text" readonly value="{{course.courseCode}}" />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="courseDescripMon">Course Description</label>
                                <input class="form-control" id="courseDescripMon" name="courseDescripMon" type="text" readonly value="{{course.courseDescripMon}}" />
                            </div>
                        </div>
                    </div>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>
